.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 40vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  font-size: large;
}

.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  font-size: small;
}

.anchorLink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  font-size: small;
}

/* スコア */
.score {
  color: white;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(65, 192, 65);
}
.score th {
  padding: 0.5rem;
  border: 2px solid black;
}

.score td {
  padding: 1rem;
  border: 2px solid black;
}

.main button {
  padding: 1rem;
  margin-bottom: auto;
}

/* .score {
  background-color: rgb(102, 187, 102);
  border: 2px solid;
} */
/* タグごとに外枠 */
/* .score th {
  margin: 0;
  padding: 10px;
  line-height: 1;
}
.score td {
  border: 2px solid;
  border-color: white;
  margin: 0;
  padding: 10px;
  line-height: 1;
} */
